@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.login{
  width:350px;
  text-align:center;
  margin:300px auto;
  border:1px solid #ddd;
  border-radius: 4px;
  padding:19px 16px 18px 16px;
  box-sizing: border-box; /*padding 값이 login의 크기에 영향을 주지 않는다.*/
}
a{
  text-decoration: none;
  color: #767676;

}
.blind{
  display:none;
}
.login__text{
  text-align:left;
  font-size: 12px;
  margin-bottom:18px;
  font-family: 'SpoqaHanSansNeo';
}
.login-button{
  width:318px;
  height:40px;
  margin-bottom:17px;/*버튼과 로그인바 사이를margin-bottm으로 설정 */
  border:0;
  border-radius: 4px;
  font-size:12px;
  color:white;
  background-color: blueviolet;
}
.login-button-weniv{
  vertical-align:sub; 
}
.login-bar{
 margin-bottom:18px;
 font-family: 'SpoqaHanSansNeo';
}
.login__find{
  float:left;
  font-size:12px;  
}
.login__find__lock{
  vertical-align:sub;
}
.pw_bar::before{/**이 부분 어떻게 했는지 물어보기**/
  content:"";
  border-left:1px solid #767676;
  vertical-align:sub;
}
.login__find__user{
  vertical-align:sub;
  font-size:12px; 
}
.login__signup{
  font-size:12px;
  float:right;/**float:right를 하는 이유를 잘 모르겠어요**/
}

